---
agent_list:
{% for agent in groups['dcos-mesos-agent-private'] %}
- {{ agent }}
{% endfor %}
{% for agent in groups['dcos-mesos-agent-public'] %}
- {{ agent }}
{% endfor %}

# Use this bootstrap_url value unless you have moved the DC/OS installer assets.
bootstrap_url: http://{{groups['dcos-bootstrap'][0]}}:{{dcos_bootstrap_port}}
cluster_name: {{ dcos_cluster_name }}
ip_detect_filename: /genconf/ip-detect
master_discovery: static
exhibitor_storage_backend: static
master_list:
{% for master in groups['dcos-mesos-master'] %}
- {{ master }}
{% endfor %}
resolvers:
{% for host in ansible_dns['nameservers'] | ipaddr %}
- {{ host }}
{% endfor %}
{% if dcos_dns_search is defined %}
dns_search: {{ dcos_dns_search }}
{% endif %}
ssh_port: 22
ssh_user: {{ dcos_bootstrap_user }}
